

.home-about {
    position: relative;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-about-background-color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c2844, black);
}

.home-about-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background-repeat: repeat; */
    background-size: 100%;
    background-image: url("../images/wave-background.avif");
    opacity: 0.1;
    filter: blur(7px);
}

.home-about .section-content {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 30px;
}

.home-about .section-header {
    padding-top: 50px;
    margin-top: 100px;
}

.home-about-content {
    font-size: calc(max(30px, 2vw));
    max-width: 1000px;
    width: calc(100% - 50px);
}

.home-about .section-content-image {
    float: right;
    border-radius: 50%;
    width: 20vw;
    min-width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: rotateY(180deg) rotateZ(-10deg);
}


.home-scared {
    background: linear-gradient(black, rgb(25, 68, 81));
}

.scary-text {
    padding: 50px;
    max-width: 1000px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scary-text a {
    text-decoration: none;
}

.scary-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
