

.home-about {
    position: relative;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
}

.home-about-background-color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c2844, black);
}

.home-about-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* background-repeat: repeat; */
    background-size: 30%;
    background-image: url("../images/wave-background.avif");
    opacity: 0.1;
    filter: blur(1px);
}

.home-about .section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.home-about .section-header {
    padding-top: 50px;
}

.home-about .section-content-text p {
    font-size: 30px;
    width: 800px;
}

.home-about .section-content-image {
    float: right;
    border-radius: 50%;
    width: 20vw;
    min-width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: rotateY(180deg) rotateZ(-10deg);
}