:root {
    --navbar-height: 100px;
}

body {
    background: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background: linear-gradient(-5deg, rgb(3 84 121), #182b41);
    border-bottom: 2px solid #9df9d6;
    text-align: center;
    user-select: none;
    z-index: 99999;
}

.navbar-content {
    width: calc(100% - 100px);
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    transition: background 0.3s;
}

.navbar-header:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: background 0s;
}

.navbar-header-top {
    font-size: 40px;
}

.navbar-header-bottom {
    font-size: 10px;
}

.navbar-links {
    display: flex;
    height: 100%;
}

.navbar-link {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background 0.3s;
}

.navbar-link:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: background 0s;
}

.content {
    margin-top: var(--navbar-height);
}

.content-header {
    position: relative;
    width: 100%;
    /* max-height: calc(100vh - var(--navbar-height)); */
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    background: black;
}

.content-header-background,
.content-header-background-cover,
.content-header-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.content-header-background {
    z-index: 1;
    opacity: 0.5;
}

.content-header-background-cover {
    z-index: 2;
    background: linear-gradient(transparent, rgb(24, 43, 65));
}

.content-header-text-wrapper {
    z-index: 3;
}

.content-header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: text;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header-title,
.content-header-subtitle {
    text-transform: uppercase;
}

.content-header-title {
    font-size: 7vw;

    background: linear-gradient(to right, #99ffd1, #bbc0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content-header-subtitle {
    font-size: 2vw;
    color: #7b9bab;
}

.section {
    min-height: 500px;
    width: 100%;
}

.section-header {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 10px 0;
    font-size: 60px;
    text-transform: uppercase;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* (1/2)p-(1/2)c = middle */
    width: 50%;
    height: 2px;
    background: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #384353;
}

::-webkit-scrollbar-thumb {
    background: #4f829f;
}

.hover-word {
    position: relative;
    z-index: 11;
    font-weight: 600;
    text-shadow: 0 0 3px grey;
    cursor: alias;
    text-decoration: underline;
}

.hover-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: fit-content;
    background: linear-gradient(-90deg, #0c2844, black);
    color: rgb(174, 255, 252);
    text-shadow: none;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    font-family: monospace;
    font-size: 12px;
    transition: opacity 0.3s;
}

.hover-text-name {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
    color: #9df9d6;
}

.hover-text-container.hide {
    opacity: 0;
    pointer-events: none;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}