<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>

<body>
    <div id="navbar"></div>

    <div class="content">
        <div class="content-header">
            <img src="" alt="Home background image" class="content-header-background-image">
            <div class="content-header-background-cover"></div>
            <div class="content-header-text">
                <div class="content-header-title"></div>
                <div class="content-header-subtitle"></div>
            </div>
        </div>

        <div class="section">

        </div>
    </div>
</body>

</html>