<a href="/browse<%= item.file %>" class="search-item" style="padding: 5px; cursor: pointer; text-decoration: none; color: black;">
    <%- include(baseDir + '/partials/browse/file-view.ejs', { item: item }) %>
</a>
