<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js"></script>
    <script src="/js/deferred.js" defer></script>
    <title>Ōtākaro Histories</title>
</head>
<body>
    <div id="navbar" class="flex-row">
        <div class="navbar-content flex-row">
            <div class="navbar-logo">
                <a href="/" class="navbar-logo-text">Ōtākaro Histories</a>
            </div>

            <div id="nav-dropdown-button">
                <i class="fas fa-bars"></i>
            </div>
    
            <div class="navbar-links flex-row" style="align-items: center;">
                <a href="/" class="navbar-link">Home</a>
                <a href="/posts" class="navbar-link">Posts</a>
                <a href="/pages/about" class="navbar-link">About</a>
                <a href="/pages/about" class="navbar-link">Contact</a>
                <% if (!account) { %>
                    <a href="/pages/login" class="navbar-link">Login & Register</a>
                <% } else { %>
                    <a href="/user/logout" class="navbar-link">Logout</a>
                <% } %>
            </div>


            <script>
                $("#nav-dropdown-button").on('click', () => {
                    $(".navbar-links").toggleClass("nav-dropdown-visible");
                });
            </script>
        </div>
    </div>

    <style>
        #navbar {
            background: white;
            padding: 30px;
            justify-content: center;
        }

        .navbar-content {
            justify-content: space-between;
            max-width: 1000px;
            width: 100%;
        }

        .navbar-logo {
            display: flex;
            align-items: center;
        }

        .navbar-logo-text {
            font-size: 30px;
            font-weight: 400;
            text-decoration: none;

            background: linear-gradient(45deg, #22678f, #30a9ff, #22678f);
            background-size: 20%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .navbar-link {
            color: rgb(74, 74, 74);
            font-size: 16px;
            font-weight: 400;
            margin-left: 20px;
            text-decoration: none;
        }

        #nav-dropdown-button {
            display: none;
            color: rgb(74, 74, 74);
            font-size: 20px;
            cursor: pointer;
            padding: 10px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }

        #nav-dropdown-button:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        #nav-dropdown-button i {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: 1000px) {
            #nav-dropdown-button {
                display: flex;
            }

            .navbar-links {
                z-index: 9999;
                display: flex;
                position: absolute;
                top: 91px;
                left: 0;
                width: calc(100% - 40px);
                background: white;
                padding: 20px;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                transform: translateY(-10px);
                transition: opacity 0.2s ease, transform 0.2s ease;
                border-bottom: 1px solid rgba(128, 128, 128, 0.521);
            }

            .navbar-links.nav-dropdown-visible {
                pointer-events: all;
                opacity: 1;
                transform: translateY(0);
            }

            .navbar-links .navbar-link {
                padding: 10px 0;
                margin: 0;
                width: 100%;
                text-align: center;
            }

            .navbar-links .navbar-link:hover {
                color: grey;
            }
        }
    </style>