<%- include('header') %>

<div class="flex-column">
    <div class="home-text">
        Aotearoa Ōtākaro Histories <br>
        Social Sciences Teaching Network
    </div>

    <div class="home-gallery flex-row">
        <div class="home-gallery-index flex-column">
            <div class="home-gallery-title">Recent Items</div>

            <div class="home-gallery-item">
                <div class="home-gallery-item-title">Test Social Sciences Item</div>
                <div class="home-gallery-item-date">2020-01-01</div>
                <a href="#" class="home-gallery-item-link">View</a>
            </div>
        </div>

        <div class="home-gallery-content">
            <h1 style="margin: 0; font-weight: 400; font-size: 45px; color: rgb(92, 92, 92);">Welcome</h1>

            <p>
                This website is in heavy development. It is intended to be a resource for teachers and students of Social Sciences in New Zealand.
            </p>
        </div>
    </div>
</div>

<style>
    .home-text {
        padding: 120px 50px;
        background: linear-gradient(70deg, #1e5799, #2989d8, #7db9e8);
        font-size: 46px;
        font-weight: 600;
        color: white;
        text-align: center;
        line-height: 60px;
    }

    .home-gallery {
        padding: 100px;
    }

    .home-gallery-index {
        min-width: 250px;
        max-width: 250px;
        padding-right: 50px;
    }

    .home-gallery-title {
        font-size: 20px;
        margin-bottom: 20px;
        background: rgb(95, 156, 207);
        padding: 10px;
        color: white;
    }

    .home-gallery-item {
        margin-bottom: 20px;
        color: rgb(101, 101, 101);
    }

    .home-gallery-item-date {
        font-size: 15px;
        color: rgb(144, 144, 144);
    }

    .home-gallery-item-link {
        font-size: 15px;
        color: rgb(95, 156, 207);
    }

    
</style>

<%- include('footer') %>
