<%- include('header') %>

<div class="flex-column">
    <div class="home-text">
        <span style="font-size: 45px;">Ōtākaro Histories</span> <br>
        Aotearoa History in the Classroom
    </div>

    <div class="home-gallery flex-row" style="padding: 100px;">
        <div class="home-gallery-index flex-column">
            <div class="home-gallery-title">Recent Items</div>

            <div class="home-gallery-item">
                <div class="home-gallery-item-title">Test Social Sciences Item</div>
                <div class="home-gallery-item-date">2020-01-01</div>
                <a href="#" class="home-gallery-item-link">View</a>
            </div>

            <div class="home-gallery-item">
                <div class="home-gallery-item-title">Stacked Item</div>
                <div class="home-gallery-item-date">2020-01-01</div>
                <a href="#" class="home-gallery-item-link">View</a>
            </div>
        </div>

        <div class="home-gallery-content">
            <h1 style="margin: 0; font-weight: 400; font-size: 45px; color: rgb(92, 92, 92);">Testing</h1>
            <p>
                This website is in heavy development. It is intended to be a network resource for teachers to find and share content for New Zealand social science education.
            </p>
        </div>
    </div>

    <div class="home-section-grid-title">Quick Links</div>

    <div class="home-section-grid">
        <div class="home-section-grid-item" style="background: #80daa5;">
            <img src="/images/home/junior.png" alt="Junior">
            <div class="home-section-grid-item-title">
                Junior Social Sciences 
            </div>
        </div>

        <div class="home-section-grid-item" style="background: #5ebfd7;">
            <img src="/images/home/intermediate.png" alt="Intermediate">
            <div class="home-section-grid-item-title">
                Intermediate Social Sciences 
            </div>
        </div>

        <div class="home-section-grid-item" style="background: #64d7e9;">
            <img src="/images/home/senior.png" alt="Senior">
            <div class="home-section-grid-item-title">
                Senior Social Sciences 
            </div>
        </div>

        <div class="home-section-grid-item" style="background: #63d8ff;">
            <img src="/images/home/teaching.png" alt="Teaching">
            <div class="home-section-grid-item-title">
                Teaching Resources
            </div>
        </div>

        <div class="home-section-grid-item" style="background: #56b0c7;">
            <img src="/images/home/assessment.png" alt="Assessment">
            <div class="home-section-grid-item-title">
                Assessment Resources
            </div>
        </div>

        <div class="home-section-grid-item" style="background: #61e498;">
            <img src="/images/home/other.png" alt="Other">
            <div class="home-section-grid-item-title">
                Other Resources
            </div>
        </div>
    </div>
</div>

<style>
    .home-text {
        padding: 120px 50px;
        background: linear-gradient(70deg, #1e5799, #2989d8, #7db9e8);
        font-size: 46px;
        font-weight: 600;
        color: white;
        text-align: center;
        line-height: 60px;
    }

    .home-gallery-index {
        min-width: 250px;
        max-width: 250px;
        padding-right: 50px;
    }

    .home-gallery-title {
        font-size: 20px;
        margin-bottom: 20px;
        background: rgb(95, 156, 207);
        padding: 10px;
        color: white;
    }

    .home-gallery-item {
        margin-bottom: 20px;
        color: rgb(101, 101, 101);
    }

    .home-gallery-item-date {
        font-size: 15px;
        color: rgb(144, 144, 144);
    }

    .home-gallery-item-link {
        font-size: 15px;
        color: rgb(95, 156, 207);
    }
    
    .home-section-grid-title {
        padding: 0 100px;
        padding-bottom: 30px;
        margin: 0;
        font-weight: 400;
        font-size: 45px;
        background: linear-gradient(45deg, #4187d7, #7de8b1, #4187d7);
        background-size: 50%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .home-section-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 100px;
        padding-top: 0;
    }

    .home-section-grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 50px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        height: 140px;
        cursor: pointer;
    }

    .home-section-grid-item:hover {
        filter: brightness(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
</style>

<%- include('footer') %>
