
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.full-page-wrapper {
    min-width: 100vw;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }

.full-page {
    max-width: 1200px;
    width: calc(100% - 80px);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-submit {
    border-radius: 3px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
}   

.button-submit:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.button-submit:active { box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); }

.button-text {
    text-decoration: none;
    color: #007bff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
}

.styled-placeholder {
    position: relative;
    margin-top: 18px;
}

.styled-placeholder .styled-placeholder-input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(74, 74, 74);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    background: transparent;
    outline: none;
}

.styled-placeholder .styled-placeholder-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(74, 74, 74);
    pointer-events: none;
    transition: 0.2s ease all;
}

.styled-placeholder .styled-placeholder-input:focus + .styled-placeholder-label,
.styled-placeholder .styled-placeholder-input:not(:placeholder-shown) + .styled-placeholder-label {
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: 400;
    color: rgb(74, 74, 74);
}


.styled-placeholder-alt {
    position: relative;
    margin-top: 18px;
}

.styled-placeholder-alt .styled-placeholder-input {
    width: calc(100% - 20px);
    height: 40px;
    border: none;
    border: 1px solid rgb(74, 74, 74);
    font-size: 16px;
    font-weight: 400;
    padding: 2px 10px;
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.styled-placeholder-alt .styled-placeholder-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(74, 74, 74);
    pointer-events: none;
    transition: 0.2s ease all;
}

.styled-placeholder-alt .styled-placeholder-input:focus + .styled-placeholder-label,
.styled-placeholder-alt .styled-placeholder-input:not(:placeholder-shown) + .styled-placeholder-label {
    top: 0;
    left: 5px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(74, 74, 74);
    background: white;
}
