.post-listing {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.post-title {
    display: inline-block;
    position: relative;
    width: 100%;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.post-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
}