<div class="footer w-100 flex justify-center">
    <div class="footer-content flex justify-between">
        <div class="footer-left">
            <h1>Ōtākaro Histories</h1>

            <div class="footer-links w-100 flex flex-column">
                <a href="/about">About</a>
                <a href="/browse">Browse</a>
                <a href="/account">Account</a>
            </div>
        </div>
        
        <div class="footer-right">
            <h1>Other</h1>
            
            <div class="footer-links w-100 flex flex-column align-end">
                <a href="mailto:nebuladev.contact@gmail.com">Email</a>
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</div>

<style>
    .footer-content {
        width: calc(100% - 200px);
        max-width: 1500px;
    }

    .footer {
        background: linear-gradient(90deg, #483c7a, #2a3692);
        padding: 0;
        border-top: 3px solid #8571a5;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer h1 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 300;
        color: white;
    }

    .footer a {
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: 400;
        color: #decdf1;
        text-decoration: none;
    }

    .footer a:hover {
        color: #f5edff;
    }
</style>

<script>
    var footerHeight = 200, initialFooterHeight = 200;
    function handleFooterPositioning() {
        var footer = document.querySelector('.footer');
        var bodyHeight = document.body.offsetHeight + (footer.style.position == 'absolute' ? initialFooterHeight : 0)

        if (bodyHeight < window.innerHeight) {
            footerHeight = window.innerHeight - bodyHeight + initialFooterHeight;
            footerHeight = footerHeight < 0 ? 0 : footerHeight;
            footerHeight = footerHeight > 400 ? 400 : footerHeight;
            console.log(window.innerHeight, "-", bodyHeight, "=", footerHeight, "px");
        } else {
            footerHeight = initialFooterHeight;
        }

        footer.style.height = footerHeight + 'px';
    }

    $(document).ready(async () => {
        await new Promise(async (resolve) => {
            var inc = 0;
            while (document.body.offsetHeight == 0 && inc++ < 100) {
                await new Promise(resolve => setTimeout(resolve, 100));
            }
            resolve();
        });
        
        handleFooterPositioning();
    });
    window.addEventListener('resize', handleFooterPositioning);
</script>


</body>
</html>
