/* Margins */
.mt-0 { margin-top: 0; } .mt-10 { margin-top: 10px; } .mt-20 { margin-top: 20px; } .mt-30 { margin-top: 30px; } 
.mt-40 { margin-top: 40px; } .mt-50 { margin-top: 50px; } .mt-60 { margin-top: 60px; } .mt-70 { margin-top: 70px; } 
.mt-80 { margin-top: 80px; } .mt-90 { margin-top: 90px; } .mt-100 { margin-top: 100px; }

.mb-0 { margin-bottom: 0; } .mb-10 { margin-bottom: 10px; } .mb-20 { margin-bottom: 20px; } .mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; } .mb-50 { margin-bottom: 50px; } .mb-60 { margin-bottom: 60px; } .mb-70 { margin-bottom: 70px; }
.mb-80 { margin-bottom: 80px; } .mb-90 { margin-bottom: 90px; } .mb-100 { margin-bottom: 100px; }

.mr-0 { margin-right: 0; } .mr-10 { margin-right: 10px; } .mr-20 { margin-right: 20px; } .mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; } .mr-50 { margin-right: 50px; } .mr-60 { margin-right: 60px; } .mr-70 { margin-right: 70px; }
.mr-80 { margin-right: 80px; } .mr-90 { margin-right: 90px; } .mr-100 { margin-right: 100px; }

.ml-0 { margin-left: 0; } .ml-10 { margin-left: 10px; } .ml-20 { margin-left: 20px; } .ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; } .ml-50 { margin-left: 50px; } .ml-60 { margin-left: 60px; } .ml-70 { margin-left: 70px; }
.ml-80 { margin-left: 80px; } .ml-90 { margin-left: 90px; } .ml-100 { margin-left: 100px; }

.mlr-0 { margin-left: 0; margin-right: 0; } .mlr-10 { margin-left: 10px; margin-right: 10px; } .mlr-20 { margin-left: 20px; margin-right: 20px; } .mlr-30 { margin-left: 30px; margin-right: 30px; }
.mlr-40 { margin-left: 40px; margin-right: 40px; } .mlr-50 { margin-left: 50px; margin-right: 50px; } .mlr-60 { margin-left: 60px; margin-right: 60px; } .mlr-70 { margin-left: 70px; margin-right: 70px; }
.mlr-80 { margin-left: 80px; margin-right: 80px; } .mlr-90 { margin-left: 90px; margin-right: 90px; } .mlr-100 { margin-left: 100px; margin-right: 100px; }

.mtb-0 { margin-top: 0; margin-bottom: 0; } .mtb-10 { margin-top: 10px; margin-bottom: 10px; } .mtb-20 { margin-top: 20px; margin-bottom: 20px; } .mtb-30 { margin-top: 30px; margin-bottom: 30px; }
.mtb-40 { margin-top: 40px; margin-bottom: 40px; } .mtb-50 { margin-top: 50px; margin-bottom: 50px; } .mtb-60 { margin-top: 60px; margin-bottom: 60px; } .mtb-70 { margin-top: 70px; margin-bottom: 70px; }
.mtb-80 { margin-top: 80px; margin-bottom: 80px; } .mtb-90 { margin-top: 90px; margin-bottom: 90px; } .mtb-100 { margin-top: 100px; margin-bottom: 100px; }

.m-0 { margin: 0; } .m-10 { margin: 10px; } .m-20 { margin: 20px; } .m-30 { margin: 30px; }
.m-40 { margin: 40px; } .m-50 { margin: 50px; } .m-60 { margin: 60px; } .m-70 { margin: 70px; }
.m-80 { margin: 80px; } .m-90 { margin: 90px; } .m-100 { margin: 100px; }

/* Paddings */
.pt-0 { padding-top: 0; } .pt-10 { padding-top: 10px; } .pt-20 { padding-top: 20px; } .pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; } .pt-50 { padding-top: 50px; } .pt-60 { padding-top: 60px; } .pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; } .pt-90 { padding-top: 90px; } .pt-100 { padding-top: 100px; }

.pb-0 { padding-bottom: 0; } .pb-10 { padding-bottom: 10px; } .pb-20 { padding-bottom: 20px; } .pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; } .pb-50 { padding-bottom: 50px; } .pb-60 { padding-bottom: 60px; } .pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; } .pb-90 { padding-bottom: 90px; } .pb-100 { padding-bottom: 100px; }

.pr-0 { padding-right: 0; } .pr-10 { padding-right: 10px; } .pr-20 { padding-right: 20px; } .pr-30 { padding-right: 30px; }
.pr-40 { padding-right: 40px; } .pr-50 { padding-right: 50px; } .pr-60 { padding-right: 60px; } .pr-70 { padding-right: 70px; }
.pr-80 { padding-right: 80px; } .pr-90 { padding-right: 90px; } .pr-100 { padding-right: 100px; }

.pl-0 { padding-left: 0; } .pl-10 { padding-left: 10px; } .pl-20 { padding-left: 20px; } .pl-30 { padding-left: 30px; }
.pl-40 { padding-left: 40px; } .pl-50 { padding-left: 50px; } .pl-60 { padding-left: 60px; } .pl-70 { padding-left: 70px; }
.pl-80 { padding-left: 80px; } .pl-90 { padding-left: 90px; } .pl-100 { padding-left: 100px; }

.plr-0 { padding-left: 0; padding-right: 0; } .plr-10 { padding-left: 10px; padding-right: 10px; } .plr-20 { padding-left: 20px; padding-right: 20px; } .plr-30 { padding-left: 30px; padding-right: 30px; }
.plr-40 { padding-left: 40px; padding-right: 40px; } .plr-50 { padding-left: 50px; padding-right: 50px; } .plr-60 { padding-left: 60px; padding-right: 60px; } .plr-70 { padding-left: 70px; padding-right: 70px; }
.plr-80 { padding-left: 80px; padding-right: 80px; } .plr-90 { padding-left: 90px; padding-right: 90px; } .plr-100 { padding-left: 100px; padding-right: 100px; }

.ptb-0 { padding-top: 0; padding-bottom: 0; } .ptb-10 { padding-top: 10px; padding-bottom: 10px; } .ptb-20 { padding-top: 20px; padding-bottom: 20px; } .ptb-30 { padding-top: 30px; padding-bottom: 30px; }
.ptb-40 { padding-top: 40px; padding-bottom: 40px; } .ptb-50 { padding-top: 50px; padding-bottom: 50px; } .ptb-60 { padding-top: 60px; padding-bottom: 60px; } .ptb-70 { padding-top: 70px; padding-bottom: 70px; }
.ptb-80 { padding-top: 80px; padding-bottom: 80px; } .ptb-90 { padding-top: 90px; padding-bottom: 90px; } .ptb-100 { padding-top: 100px; padding-bottom: 100px; }

.p-0 { padding: 0; } .p-10 { padding: 10px; } .p-20 { padding: 20px; } .p-30 { padding: 30px; }
.p-40 { padding: 40px; } .p-50 { padding: 50px; } .p-60 { padding: 60px; } .p-70 { padding: 70px; }
.p-80 { padding: 80px; } .p-90 { padding: 90px; } .p-100 { padding: 100px; }

/* Text Align */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* Text Sizes */
.text-10 { font-size: 10px; } .text-12 { font-size: 12px; } .text-14 { font-size: 14px; } .text-16 { font-size: 16px; }
.text-18 { font-size: 18px; } .text-20 { font-size: 20px; } .text-22 { font-size: 22px; } .text-24 { font-size: 24px; }
.text-26 { font-size: 26px; } .text-28 { font-size: 28px; } .text-30 { font-size: 30px; } .text-32 { font-size: 32px; }
.text-34 { font-size: 34px; } .text-36 { font-size: 36px; } .text-38 { font-size: 38px; } .text-40 { font-size: 40px; }
.text-42 { font-size: 42px; } .text-44 { font-size: 44px; } .text-46 { font-size: 46px; } .text-48 { font-size: 48px; }
.text-50 { font-size: 50px; }

/* Flex */
.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { display: flex; flex-wrap: wrap; }
.flex-nowrap { display: flex; flex-wrap: nowrap; }
.flex-wrap-reverse { display: flex; flex-wrap: wrap-reverse; }
.flex-center { display: flex; align-items: center; justify-content: center; }
.flex-center-column { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.flex-center-row { display: flex; flex-direction: row; align-items: center; justify-content: center; }
.flex-start { display: flex; align-items: flex-start; justify-content: flex-start; }
.flex-end { display: flex; align-items: flex-end; justify-content: flex-end; }
.flex-between { display: flex; justify-content: space-between; }
.flex-around { display: flex; justify-content: space-around; }
.flex-evenly { display: flex; justify-content: space-evenly; }

/* Sizes */
.full-size { width: 100%; height: 100%; }
.full-screen-size { width: 100vw; height: 100vh; }
.min-screen-size { min-height: 100vh; min-width: 100vw; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.min-width { min-width: 100%; }
.min-height { min-height: 100%; }
.max-width { max-width: 100%; }
.max-height { max-height: 100%; }
.full-screen-width { width: 100vw; }
.full-screen-height { height: 100vh; }
.min-screen-width { min-width: 100vw; }
.min-screen-height { min-height: 100vh; }
.min-fit-content { min-height: fit-content; }
.max-fit-content { max-height: fit-content; }
.height-full-no-nav { height: calc(100vh - 60px); }
.flex-no-off-screen { height: auto; min-height: calc(100vh - 120px); margin-top: 60px; }

/* Other */
.hidden { display: none; }
