.ext-prim-window {
  position: fixed;
  z-index: 999;
}

.ext-prim-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ext-prim-color-panel,
.ext-prim-element-panel {
  background: white;
  border-top: 2px solid #eaeaea;
}

.ext-prim-color-panel-content {
  width: 100%;
  height: 100%;
}

.ext-prim-color-panel-item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
