.n-container {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.n-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    animation: dropTransition 0.8s linear;
    animation-fill-mode: forwards;
}

.n-maximized {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    transition: width 0.2s cubic-bezier(.19,1,.22,1), height 0.2s cubic-bezier(.19,1,.22,1), top 0.2s cubic-bezier(.19,1,.22,1), left 0.2s cubic-bezier(.19,1,.22,1), transform 0.2s cubic-bezier(.19,1,.22,1);
}

.n-window-minimized {
    opacity: 0;
    top: 100%;
    left: 100%;
}

.n-window-container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 10px;
    background: orange;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.n-titlebar {
    height: 40px;
    background: blue;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.n-titlebar-buttons {
    margin-right: 6px;
}

.n-titlebar-button {
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin: 0;
}

.n-titlebar-button div {
    width: 15px;
    height: 15px;
}

.n-title {
    margin-left: 10px;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
