.n-container {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.n-window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    animation: dropTransition 0.8s linear;
    animation-fill-mode: forwards;
    filter: none;
}

.n-maximized {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    transition: width 0.2s cubic-bezier(.19,1,.22,1), height 0.2s cubic-bezier(.19,1,.22,1), top 0.2s cubic-bezier(.19,1,.22,1), left 0.2s cubic-bezier(.19,1,.22,1), transform 0.2s cubic-bezier(.19,1,.22,1);
}

.n-window-minimized {
    transition: opacity 0.5s ease, filter 0.1s ease, transform 0.5s cubic-bezier(.36,.79,0,1), width 0.25s ease, height 0.25s ease !important;
    opacity: 0;
    filter: saturate(0);
    transform: translateY(calc(100vh - 100%)) translateX(calc(100vw - 100%)) !important;
    width: 200px !important;
    height: 60px !important;
    pointer-events: none;
}

.n-window-container {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 10px;
    background: orange;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.n-titlebar {
    height: 40px;
    background: blue;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.n-titlebar-buttons {
    margin-right: 6px;
}

.n-titlebar-button {
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin: 0;
}

.n-titlebar-button div {
    width: 15px;
    height: 15px;
}

.n-title {
    margin-left: 10px;
    white-space: nowrap;
    max-width: calc(100% - 96px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.n-minimize-view {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.n-minimize-view-item {
    min-width: 50px;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: grey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 5px;
    transition: background 0.05s linear, opacity 0.1s ease;
}

.n-minimize-view-item:hover {
    background: rgb(156, 156, 156);
}
