@import url(template.less);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url(navbar.less);

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

* {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5884d4;
}

::-webkit-scrollbar-thumb {
    background: #8e9bfb;
}

::-webkit-scrollbar-thumb:hover {
    background: #8e9bfb;
}

// For firefox
body {
    scrollbar-width: thin;
    scrollbar-color: #8e9bfb #5884d4;
}
