var bgColor = rgb(120, 100, 140);
var bgColor2 = rgb(155, 80, 155);
var light = rgb(242, 222, 255); // Called in html

body {
    background: linear-gradient($bgColor, $bgColor2);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
}

.flex-center * {
    margin: 0;
}

.flex-center h1 {
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 50px;
    var localColor = rgb(250, 200, 255);
    color: $localColor;
}

a {
    color: rgb(231, 188, 255);
    text-decoration: none;
    font-size: 20px;
    transform: translateY(30px);
    padding: 5px 10px;
    border-radius: 5px 10px;
    transition: background 0.2s, color 0.2s;
}

a:hover {
    background: rgb(231, 188, 255);
    color: $bgColor;
}

.cog {
    width: 500px;
    height: 500px;
    z-index: -1;
    object-fit: cover;
    opacity: 0.1;
    animation: spin 10s linear infinite;
}

.cog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}