@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

:root {
    --dark-1: #14161d;
    --dark-2: #1a1c2c;
    --dark-3: #23242d;
    --dark-4: #333441;
    --dark-5: #424351;

    --light-1: #f2f2f2;
    --light-2: #e6e6e6;
    --light-3: #d9d9d9;
    --light-4: #cccccc;
    --light-5: #bfbfbf;

    --toolbar-height: 40px;
    --toolbar-background: var(--dark-1);
    --toolbar-icon-color: var(--light-1);
    --toolbar-icon-hover: var(--dark-2);
    --toolbar-icon-size: 16px;
    --toolbar-raise-animation: 0.2s ease;
    --toolbar-idle-bottom: calc(var(--toolbar-height) * -1);

    --primary-border-radius: 10px;
    --small-border-radius: 5px;

    --message-panel-width: 400px;
    --message-panel-height: 500px;
    --message-panel-background: var(--dark-2);

    --t-br: var(--primary-border-radius) var(--primary-border-radius) 0 0;
    --b-br: 0 0 var(--primary-border-radius) var(--primary-border-radius);

    --primary-font: 'Roboto', sans-serif;
}

#learnplus-wrapper *:not(i) {
    font-family: var(--primary-font);
}

#learnplus-wrapper *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#learnplus-wrapper *::-webkit-scrollbar-track {
    background: var(--dark-3);
}

#learnplus-wrapper *::-webkit-scrollbar-thumb {
    background: var(--dark-4);
    border-radius: 10px;
}


.lp-raise-for-toolbar {
    bottom: var(--toolbar-idle-bottom);
    transition: bottom var(--toolbar-raise-animation);
}

#learnplus-wrapper:hover .lp-raise-for-toolbar,
.lp-raise-for-toolbar-locked {
    bottom: var(--toolbar-height) !important;
}

#learnplus-toolbar {
    height: var(--toolbar-height);
    background: var(--toolbar-background);
    position: fixed;
    bottom: var(--toolbar-idle-bottom);
    left: 0;
    transition: bottom var(--toolbar-raise-animation);
}

#learnplus-wrapper:hover #learnplus-toolbar,
.learnplus-toolbar-locked {
    bottom: 0 !important;
}

.learnplus-toolbar-icon {
    height: 100%;
    width: var(--toolbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--toolbar-icon-color);
    cursor: pointer;
    font-size: var(--toolbar-icon-size);
    transition: background 0.1s;
}

.learnplus-toolbar-icon:hover {
    background: var(--toolbar-icon-hover);
}

.learnplus-toolbar-icon-popup {
    position: absolute;
    background: var(--dark-1);
    min-width: 50px;
    bottom: calc(var(--toolbar-height));
    border-radius: 5px;
    line-height: 1.5;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: bottom 0.1s, opacity 0.1s;
}

.learnplus-toolbar-icon:hover .learnplus-toolbar-icon-popup {
    bottom: calc(var(--toolbar-height) + 5px);
    opacity: 1;
}

#learnplus-msgpanel-wrapper {
    overflow: auto;
    max-width: 100%;
    display: flex;
}

.lp-msg-panel {
    min-width: var(--message-panel-width);
    height: var(--message-panel-height);
    background: var(--message-panel-background);
    border-radius: var(--t-br);
    margin: 0 5px;
    padding: 20px;
}