:root {
    --z-index: 999999;
}

.lp-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lp-flex-horizontal {
    display: flex;
    flex-direction: row;
}

.lp-flex-vertical {
    display: flex;
    flex-direction: column;
}

.lp-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.lp-center-items { align-items: center; }
.lp-justify-items { justify-content: center; }
.lp-flex-1 { flex: 1; }

.lp-mt-5 { margin-top: 5px; } .lp-mt-10 { margin-top: 10px; } .lp-mt-20 { margin-top: 20px; } .lp-mt-30 { margin-top: 30px; } .lp-mt-40 { margin-top: 40px; } .lp-mt-50 { margin-top: 50px; }
.lp-mb-5 { margin-bottom: 5px; } .lp-mb-10 { margin-bottom: 10px; } .lp-mb-20 { margin-bottom: 20px; } .lp-mb-30 { margin-bottom: 30px; } .lp-mb-40 { margin-bottom: 40px; } .lp-mb-50 { margin-bottom: 50px; }
.lp-ml-5 { margin-left: 5px; } .lp-ml-10 { margin-left: 10px; } .lp-ml-20 { margin-left: 20px; } .lp-ml-30 { margin-left: 30px; } .lp-ml-40 { margin-left: 40px; } .lp-ml-50 { margin-left: 50px; }
.lp-mr-5 { margin-right: 5px; } .lp-mr-10 { margin-right: 10px; } .lp-mr-20 { margin-right: 20px; } .lp-mr-30 { margin-right: 30px; } .lp-mr-40 { margin-right: 40px; } .lp-mr-50 { margin-right: 50px; }
.lp-m-5 { margin: 5px; } .lp-m-10 { margin: 10px; } .lp-m-20 { margin: 20px; } .lp-m-30 { margin: 30px; } .lp-m-40 { margin: 40px; } .lp-m-50 { margin: 50px; }

.lp-pt-5 { padding-top: 5px; } .lp-pt-10 { padding-top: 10px; } .lp-pt-20 { padding-top: 20px; } .lp-pt-30 { padding-top: 30px; } .lp-pt-40 { padding-top: 40px; } .lp-pt-50 { padding-top: 50px; }
.lp-pb-5 { padding-bottom: 5px; } .lp-pb-10 { padding-bottom: 10px; } .lp-pb-20 { padding-bottom: 20px; } .lp-pb-30 { padding-bottom: 30px; } .lp-pb-40 { padding-bottom: 40px; } .lp-pb-50 { padding-bottom: 50px; }
.lp-pl-5 { padding-left: 5px; } .lp-pl-10 { padding-left: 10px; } .lp-pl-20 { padding-left: 20px; } .lp-pl-30 { padding-left: 30px; } .lp-pl-40 { padding-left: 40px; } .lp-pl-50 { padding-left: 50px; }
.lp-pr-5 { padding-right: 5px; } .lp-pr-10 { padding-right: 10px; } .lp-pr-20 { padding-right: 20px; } .lp-pr-30 { padding-right: 30px; } .lp-pr-40 { padding-right: 40px; } .lp-pr-50 { padding-right: 50px; }
.lp-p-5 { padding: 5px; } .lp-p-10 { padding: 10px; } .lp-p-20 { padding: 20px; } .lp-p-30 { padding: 30px; } .lp-p-40 { padding: 40px; } .lp-p-50 { padding: 50px; }

.lp-fixed-bl { position: fixed; bottom: 0; left: 0; } .lp-fixed-br { position: fixed; bottom: 0; right: 0; } .lp-fixed-tl { position: fixed; top: 0; left: 0; } .lp-fixed-tr { position: fixed; top: 0; right: 0; }
.lp-fixed-b { position: fixed; bottom: 0; } .lp-fixed-t { position: fixed; top: 0; } .lp-fixed-l { position: fixed; left: 0; } .lp-fixed-r { position: fixed; right: 0; }
.lp-abs-bl { position: absolute; bottom: 0; left: 0; } .lp-abs-br { position: absolute; bottom: 0; right: 0; } .lp-abs-tl { position: absolute; top: 0; left: 0; } .lp-abs-tr { position: absolute; top: 0; right: 0; }
.lp-abs-b { position: absolute; bottom: 0; } .lp-abs-t { position: absolute; top: 0; } .lp-abs-l { position: absolute; left: 0; } .lp-abs-r { position: absolute; right: 0; }


.lp-fixed { position: fixed; }
.lp-absolute { position: absolute; }
.lp-full-width { width: 100%; }
.lp-full-height { height: 100%; }
.lp-full { width: 100%; height: 100%; }

.lp-z-index-1 { z-index: var(--z-index); } .lp-z-index-2 { z-index: calc(var(--z-index) - 1); } .lp-z-index-3 { z-index: calc(var(--z-index) - 2); } .lp-z-index-4 { z-index: calc(var(--z-index) - 3); } .lp-z-index-5 { z-index: calc(var(--z-index) - 4); }

.lp-relative-pos { position: relative; }