<%- include('../header') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>


<div class="full-page-wrapper">
    <div class="full-page" style="padding: 100px; justify-content: center; display: flex;">
        <div id="editor-wrapper" style="width: 100%;">
            <h1 style="margin: 0; font-weight: 300; margin-bottom: 20px;">Create a new page</h1>
            
            <div class="styled-placeholder" style="margin-bottom: 20px;">
                <input type="text" class="styled-placeholder-input" id="page-title" placeholder=" ">
                <label for="page-title" class="styled-placeholder-label">Title</label>
            </div>

            <textarea id="editor"></textarea>
        
            <div style="margin-top: 20px;" class="flex-row align-center">
                <button id="create-button" class="button-submit">Create</button>
                <p style="margin-left: 20px;">Stuck? Check <a href="https://www.markdownguide.org/basic-syntax/">here</a> for help.</p>
            </div>
        </div>
    </div>
</div>

<script>
const content = `
## New Page

Type **here** to add content to the page.
`;

document.getElementById('editor').value = content;

const easymde = new EasyMDE({
    element: document.getElementById('editor')
});
</script>


<%- include('../footer') %>
