<a href="/browse<%= item.file %>" class="search-item">
    <%- item.name %>
</a>

<style>
    .search-item {
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
</style>