:root {
    --chat-width: 300px;
    --toolbar-height: 250px;

    --skillnexus-bg-1: rgb(31, 25, 60);
    --skillnexus-bg-2: rgb(33, 29, 62);
    --skillnexus-bg-3: rgb(21, 16, 45);
}

#skillnexus-wrapper {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fixed {
    position: fixed;
}

#skillnexus-chat {
    top: 0;
    right: 0;
    height: 100vw;
    width: var(--chat-width);
    background: var(--skillnexus-bg-1);
    display: flex;
    flex-direction: column;
    z-index: 99999;
}

#skillnexus-toolbar {
    bottom: 0;
    left: 0;
    height: var(--toolbar-height);
    width: calc(100vw - var(--chat-width));
    background: var(--skillnexus-bg-2);
    z-index: 99999;
}

#skillnexus-chat-grabber {
    position: absolute;
    top: 0;
    left: -0;
    height: 100vh;
    width: 8px;
    cursor: ew-resize;
}

#skillnexus-toolbar-grabber {
    position: absolute;
    top: -0;
    right: 0;
    height: 8px;
    width: 100vw;
    cursor: ns-resize;
}

body.grabbing-skillnexus-chat #skillnexus-chat-grabber,
#skillnexus-chat-grabber:hover {
    background: blue;
}

body.grabbing-skillnexus-toolbar #skillnexus-toolbar-grabber,
#skillnexus-toolbar-grabber:hover {
    background: blue;
}

body.grabbing-skillnexus-chat {
    cursor: ew-resize !important;
}

body.grabbing-skillnexus-toolbar {
    cursor: ns-resize !important;
}

#skillnexus-chat-header {
    width: 100%;
    height: 90px;
}

#skillnexus-chat-messages {
    width: 100%;
    height: calc(100vh - 90px - 60px - 10px);
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden; 
}

#skillnexus-chat-input {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skillnexus-input {
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--skillnexus-bg-3);
    border: none;
    color: white;
    font-size: 15px;
    outline: none;
    box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.2),
    -2px 0 0px 3px rgba(255, 0, 0, 0);
    transition: box-shadow 0.25s ease;
}

#skillnexus-input:focus {
    box-shadow: 0px 0px 6px 3px rgba(126, 38, 241, 0.7),
    0px 0px 6px 3px rgba(255, 0, 0, 0.507);
}

.skillnexus-message {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.skillnexus-message-author {
    font-size: 17px;
    font-weight: bold;
}

.skillnexus-message-content {
    font-size: 15px;
    max-width: 100%;
    word-wrap: break-word;
}
