:root {
  --size-topbar-margin: 50px;
  --top-center-max-width: 1000px;
  --top-center-margin: 200px;
}

body {
  background: black;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: rgb(41, 42, 61);

  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebar-top {
  height: 40px;
  width: 100%;
}

.titlebar-bottom {
  height: 50px;
  width: 100%;
}

.titlebar-top-left {
  background: red;
  min-width: 40px;
  height: 100%;
}

.titlebar-top-right {
  background: blue;
  min-width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-tr-item {
  width: 40px;
  height: 100%;
  cursor: pointer;
  color: white;
}

.tb-tr-item:hover {
  background: green;
}

.titlebar-draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;

  background: repeating-linear-gradient(
    45deg,
    rgb(150, 200, 50),
    rgb(255, 50, 100) 10px,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0) 20px
  );
}

.titlebar-top-center {
  min-width: calc(min(100vw - ((40px + 120px) + var(--top-center-margin)), var(--top-center-max-width)));
  height: 100%;
  background: orange;
}