:root {
  --size-topbar-margin: 50px;
  --top-center-max-width: 1000px;
  --top-center-margin: 200px;
}

body {
  background: black;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: rgb(41, 42, 61);

  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebar-top {
  height: 40px;
  width: 100%;
}

.titlebar-bottom {
  height: 50px;
  width: 100%;
}

.titlebar-top-left {
  /* background: red; */
  min-width: 40px;
  height: 100%;
}

.titlebar-top-right {
  /* background: blue; */
  min-width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-tr-item {
  width: 40px;
  height: 100%;
  cursor: default;
  user-select: none;
  color: white;
}

.tb-tr-item:hover {
  background: green;
}

.titlebar-draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;

  background: repeating-linear-gradient(
    45deg,
    rgba(150, 200, 50, 0.2),
    rgba(255, 50, 100, 0.2) 10px,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0) 20px
  );
}

.titlebar-top-center {
  min-width: calc(min(100vw - ((40px + 120px) + var(--top-center-margin)), var(--top-center-max-width)));
  height: 100%;
  /* background: orange; */
}

#url-input {
  width: calc(100% - 0px);
  height: calc(100% - 10px);
  margin: 5px 10px;
  outline: none;
  border: none;
  padding: 0 10px;
  background: rgba(46, 52, 68, 0.25);
  border-radius: 5px;
  color: white;
}