body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

:root {
  --side-panel-background-color: #202020;
  --editor-background-color: #1c1c1c;
  --bar-background-color: #242424;
  --primary-border: 1px solid #333;
  
  --left-panel-width: 300px;
  --right-panel-width: 300px;
  
  --top-bar-height: 35px;
  --bottom-bar-height: 25px;

  --editor-line-height: 20px;
}

#code-editor {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
  position: inherit;
}

#editor-carret {
  height: var(--editor-line-height);
  width: 1px;
  background: white;
  position: fixed;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.fixed-h-top-bottom {
  position: fixed;
  top: var(--top-bar-height);
  height: calc(100vh - var(--top-bar-height) - var(--bottom-bar-height));
}

.left-panel {
  left: 0;
  width: var(--left-panel-width);
  background-color: var(--side-panel-background-color);
}

.right-panel {
  right: 0;
  width: var(--right-panel-width);
  background-color: var(--side-panel-background-color);
}

.center-panel {
  left: var(--left-panel-width);
  /* width: calc(100vw - var(--left-panel-width) - var(--right-panel-width)); */
  right: var(--right-panel-width);
  background-color: var(--editor-background-color);
  min-width: 300px;
  z-index: 9;
  border-left: var(--primary-border);
  border-right: var(--primary-border);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--top-bar-height);
  background-color: var(--bar-background-color);
  border-bottom: var(--primary-border);
  z-index: 10;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--bottom-bar-height);
  background-color: var(--bar-background-color);
  border-top: var(--primary-border);
  z-index: 10;
}

.left-panel-grid {
  width: 50px;
  height: 100%;
  border-right: var(--primary-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-panel-grid .icon-button {
  width: 50px;
  height: 50px;
}

.icon-button {
  color: #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
}

.icon-button:hover {
  color: white;
}

.top-bar .icon-button {
  width: var(--top-bar-height);
  height: var(--top-bar-height);
  font-size: 16px;
}

#file-browser {
  width: 100%;
  color: white;
  user-select: none;
}

#file-browser-title {
  margin: 15px;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.file-browser-file {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
  cursor: pointer;
}

.file-browser-file:hover {
  background: rgba(63, 63, 63, 0.5);
}

.file-browser-file-icon {
  margin-right: 5px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-browser-file-name {
  font-size: 16px;
}

#code-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.editor-line-numbers {
  min-width: 30px;
  width: fit-content;
  height: 100%;
  border-right: 2px solid rgba(96, 140, 96, 0.401);
  padding: 5px 3px 0 3px;
}

.editor-line-number {
  height: var(--editor-line-height);
  width: calc(100% - 5px);
  display: flex;
  align-items: center;
  justify-content: end;
  color: grey;
  /* No line/text breaking */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor-lines {
  padding-top: 5px;
  color: white;
}

.editor-line {
  height: var(--editor-line-height);
  display: flex;
  align-items: center;
  padding-left: 5px;
  white-space: pre;
}