body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
  user-select: none;
  transition: 0.3s ease;
}

body.visible {
  opacity: 1;
}

body:not(.visible) {
  background: transparent !important;
  transition: 0.3s ease, background 0.2s ease;
}

.content-wrapper {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(60deg, rgb(140, 0, 255), rgb(200, 0, 255));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
body.handler .background {
  opacity: 1;
}

.content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

body.handler .content {
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 20px;
}

.panel-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
}

.panel {
  width: 100%;
  height: calc(100% - 30px);
  border-radius: 10px 0 0 10px;
  background: rgb(77, 82, 103);
  transition: transform 0.3s ease;
}

body:not(.visible) .panel {
  transform: translateX(50px);
}