:root {
  --size-topbar-margin: 50px;
}

body {
  background: black;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  background: rgb(41, 42, 61);

  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlebar-top {
  height: 40px;
  width: 100%;
}

.titlebar-bottom {
  height: 50px;
  width: 100%;
}

.titlebar-top-left {
  background: red;
  width: 40px;
  height: 100%;
}

.titlebar-top-right {
  background: blue;
  width: 60px;
  height: 100%;
}

.titlebar-draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;

  background: repeating-linear-gradient(
    45deg,
    rgb(150, 200, 50),
    rgb(255, 50, 100) 10px,
    rgba(0, 0, 0, 0) 10px,
    rgba(0, 0, 0, 0) 20px
  );
}
